/Java/job.schedular.daemon/target/
/job.core/target/
/PHP/CarStorage.Crawler/vendor/
/PHP/CarStorage.WebAPI/vendor/
/PHP/CarStorage.Crawler/composer.lock
/PHP/Basic.Core/src/Index/MachineLearning/RegressionModel/var/*
/PHP/Job.TestScripts/vendor/
/PHP/.idea/
/PHP/tmp/*