<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Redirect" />
                <rule name="XHRredirect" stopProcessing="true">
                    <match url="(.*\.php)" />
                    <action type="Rewrite" url="{R:0}" logRewrittenUrl="true" />
                </rule>
                 <rule name="Cssredirect" stopProcessing="true">
                    <match url="(.*\.css)" />
                    <action type="Rewrite" url="{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="Jsredirect" stopProcessing="true">
                    <match url="(.*\.js)" />
                    <action type="Rewrite" url="{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="ApplicationRedirect" stopProcessing="true">
                    <match url="([A-Za-z/]*)" />
                    <action type="Rewrite" url="app.php?/{R:1}" logRewrittenUrl="true" />
                </rule>

            </rules>
        </rewrite>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\webtools\PHP7\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>