<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ApplicationFiles" stopProcessing="true">
                    <match url="^.*\.(php|css|js)" />
                    <action type="Rewrite" url="{R:0}" logRewrittenUrl="true" />
                </rule>
                <rule name="ApplicationRedirect" stopProcessing="true">
                    <match url="([A-Za-z/]*)" />
                    <action type="Rewrite" url="app.php?/{R:1}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="D:\Programs\PHP7\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>