html{
    height:100%;
}
html body *,
html body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: inline-block;
    width: 100%;
    background-color: #2980b9;
}

.header .header-content {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    background-color: #34302D;
    padding: 10px 20px;
}

.navigation-title{
    display:inline-block;
    width:100%;
    background-color:#999;
    padding:10px 30px;
    color:#fff;
}

.navigation-title .navigation-title-text{

}

.header .header-content .header-content-left,
.header .header-content .header-content-right {
    display: inline-block;
    /*width:50%;*/
    color: #fff;
    cursor: default;
    vertical-align: middle;
}

.header .header-content .header-content-left {
    width: 100%;
}

.header .header-content .header-content-right {
    width: 0;
    display:none;
}

.header .header-content .header-content-left a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.header .header-content .header-content-left .header-text {
    font-size: 22px;
    font-weight: bold;
}

.header .header-content .header-content-left .header-text .header-sub-text {
    font-size: 16px;
}

.header .header-content .header-content-right {
    text-align: right;
}

.header .header-content .header-content-right .header-right-buttons {
    width: 100%;
    display: inline-block
}

.header .header-content .header-content-right .header-right-buttons .header-button {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.header .header-content .header-content-right .header-right-buttons .header-button:hover {
    background-color: #6DB33F;
}

.body-content {
    display: inline-block;
    width: 100%;
    padding-bottom: 160px;
}

.body-content .content-holder {
    min-height: 500px;
}

.body-content .content-holder .content-title {
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.body-content .content-holder .content {
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.body-content .content-holder .content .search-results-holder .pagination,
.body-content .content-holder .content .search-results-holder .pagination {
    display: inline-block;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.body-content .content-holder .content .search-results-holder .pagination .paging-container-top,
.body-content .content-holder .content .search-results-holder .pagination .paging-container-bottom {
    display: inline-block;
}

.light-theme .current {
    background: #3498db;
    color: #FFF;
    border-color: #444;
    box-shadow: none;
    cursor: default;
}
.light-theme .page-link {
    background: #2980b9;
    color: #FFF;
    border-color: #444;
    box-shadow: none;
    cursor: default;
}
.light-theme a:hover {
    cursor:pointer;
    background: #3498db none repeat scroll 0 0;
    text-decoration: none;
}

.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.light-theme a, .light-theme span {
    float: left;
    color: #666;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    border: none;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 0px;
    text-decoration: none;
    box-shadow: none;
    background: #efefef;
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #efefef));
    background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: linear-gradient(top, #ffffff 0%, #efefef 100%);
}

/*footer styles start*/
html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}

.footer {
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}

.footer-content {
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 16px;
    background-color: #34302D;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.65);
}

.footer-content .footer-left {
    width: 20%;
    min-width: 200px;
    padding: 10px 0;
    text-align: left;
}

.footer-content .footer-right {
    width: 80%;
}

.footer-content .footer-left,
.footer-content .footer-right {
    display: inline-block;
    vertical-align: middle;
}

.footer-col {
    width: calc(25% - 10px);
    text-align: left;
    display: inline-block;
    min-width: 200px;
    vertical-align: top;
    word-break: break-all;
    border-top: 1px solid #2980b9;
    padding: 5px 0;
    margin: 0 5px;
    font-size: 14px;
}

.footer-col div.text {
    display: inline-block;
    color: #ecf0f1;
    width: calc(100% - 25px);
}

.footer-col div.text a {
    display: inline-block;
    color: #ecf0f1;
    cursor: pointer;
    width: calc(100% - 25px);
}

.footer-col i {
    font-size: 14px;
    color: #2980b9;
    width: 25px;
    padding-top: 4px;
    vertical-align: top;
    text-align: center;
}

.footer-content .footer-logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    max-width: 60px;
    color: #fff;
}

.footer-content .footer-logo i {
    font-size: 35px;
}

.footer-content .footer-text {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    /*text-shadow: -1px -1px 0 #5e5e5e, 1px -1px 0 #5e5e5e, -1px 1px 0 #5e5e5e, 1px 1px 0 #5e5e5e;*/
    vertical-align: middle;
    width: calc(100% - 60px);
}

.footer-content .footer-logo, .footer-content .footer-text .footer-sub-text {
    color: #fff;
    font-size: 12px;
}

@media only screen and (max-width: 1150px) {
    .footer-content .footer-left,
    .footer-content .footer-right {
        display: block;
        width: 100%;
    }

    .footer-content .footer-right .footer-col {
        width: calc(50% - 10px);
    }

    .header-left .header-logo img {
        display: none;
    }

    .body-content {
        display: inline-block;
        width: 100%;
        padding-bottom: 280px;
    }
}

/*footer-styles end*/
/*mobile styles*/
@media (max-width: 800px) {
}

@media (max-width: 600px) {
    .body-content {
        display: inline-block;
        width: 100%;
        padding-bottom: 390px;
    }
    .footer-content .footer-right .footer-col {
        width: 100%;
        display:block;
    }
}

@media (max-width: 400px) {
}